In [1]:
import pandas as pd
import numpy as np
 
df = pd.read_csv('used_cars.csv') 
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"

In [5]:
df = df.describe()
print(df)

        model_year
count     8.000000
mean   2009.702551
std    1069.931348
min       6.104816
25%    2002.500000
50%    2016.257795
75%    2021.000000
max    4009.000000

In [6]:
df.isnull().count()

model_year    8
dtype: int64

In [7]:
# clean

df.dropna()

        model_year
count     8.000000
mean   2009.702551
std    1069.931348
min       6.104816
25%    2002.500000
50%    2016.257795
75%    2021.000000
max    4009.000000

In [12]:
# encode columns
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

df['brand'].unique()
df['brand'].value_counts()

KeyError: 'brand'