In [49]:
import psycopg2

def connection(db_name, db_user, db_password, db_host, db_port):
    try:
        conn = psycopg2.connect(
            dbname=db_name,
            user=db_user,
            password=db_password,
            host=db_host,
            port=db_port
        )
        print('Sucessfully connected to the database')
        return conn
    except Exception as e:
        print(f'error during connection {str(e)}')
        return None


# create connection
params = {
    "db_name": "di-143",
    "db_user": "di-143_owner",
    "db_password": '1YKcWzwkeOM6',
    "db_host": 'ep-silent-violet-a2s31e3t.eu-central-1.aws.neon.tech',
    "db_port": 5432
}
conn = connection(**params)

conn.autocommit = True

Sucessfully connected to the database

In [50]:
def execute_query(conn, query):
    try:
        cursor = conn.cursor()
        cursor.execute(query)
        # print('Query executed successfully')
        return cursor
    except Exception as e:
        print(f"Error: {str(e)}")
        return None

In [51]:
query = "SELECT * FROM users"
results = execute_query(conn, query).fetchall()
for result in results:
    print(result)
    # print(result[1])

(1, 'Eric', 'Rose-hill', 'eric@gmail.com', '12345', True)
(2, 'Karl', 'Quatre-Bornes', 'karl@gmail.com', '15345', False)
(3, 'Maita', 'Vacoas', 'maita@gmail.com', '87654', False)
(4, 'John', 'Port-Louis', 'john@gmail.com', '36542', False)
(5, 'Tim', 'Quatre-Vents', 'tim@gmail.com', '87623', False)
(6, 'Kimberley', 'Flic-en-flac', 'kimberley@gmail.com', '24421', True)
(7, 'Cindy', 'riviere noire', 'cindy@gmail.com', '87564', False)
(8, 'Cheryl', 'Tamarin', 'cheryl@gmail.com', '28746', False)

In [52]:
query = "SELECT name, address  FROM users"
results = execute_query(conn, query).fetchall()
for result in results:
    print(result)
    # print(result[1])

('Eric', 'Rose-hill')
('Karl', 'Quatre-Bornes')
('Maita', 'Vacoas')
('John', 'Port-Louis')
('Tim', 'Quatre-Vents')
('Kimberley', 'Flic-en-flac')
('Cindy', 'riviere noire')
('Cheryl', 'Tamarin')

In [53]:
query = "select * from users order by name asc limit 4"
results = execute_query(conn, query).fetchall()
for result in results:
    print(result)
    # print(result[1])

(8, 'Cheryl', 'Tamarin', 'cheryl@gmail.com', '28746', False)
(7, 'Cindy', 'riviere noire', 'cindy@gmail.com', '87564', False)
(1, 'Eric', 'Rose-hill', 'eric@gmail.com', '12345', True)
(4, 'John', 'Port-Louis', 'john@gmail.com', '36542', False)

In [57]:
# create table

query = "CREATE TABLE dancers(id integer primary key, name varchar(100) not null, address varchar(200), dance varchar(100), experience integer);"
results = execute_query(conn, query)

In [61]:
# to know if table has been created

query = "select EXISTS(select from pg_tables where schemaname = 'public' and tablename = 'dancers');"
result = execute_query(conn, query).fetchone()[0]

print(result)

True

In [77]:
query = "Insert into dancers Values(1, 'Anais', 'Tombeau bay', 'Bachata', 4)"
result = execute_query(conn, query)

In [69]:
query = ("select * from dancers")
result = execute_query(conn, query).fetchall()
for result in result:
    print(result)

(1, 'Anais', 'Tombeau bay', 'Bachata', 4)
(2, 'Anais', 'Tombeau bay', 'Bachata', 4)

In [79]:
query = ("delete from dancers where id = 2")
result = execute_query(conn, query)

In [80]:
query = ("select * from dancers")
result = execute_query(conn, query).fetchall()
for result in result:
    print(result)

(1, 'Anais', 'Tombeau bay', 'Bachata', 4)

In [84]:
query = "Insert into dancers Values(2, 'Louis', 'Curepipe', 'Salsa', 2),(3, 'Laetitia', 'Vacoas', 'Kizomba', 6)"
result = execute_query(conn, query)

Error: duplicate key value violates unique constraint "dancers_pkey"
DETAIL:  Key (id)=(2) already exists.

In [85]:
query = ("select * from dancers")
result = execute_query(conn, query).fetchall()
for result in result:
    print(result)

(1, 'Anais', 'Tombeau bay', 'Bachata', 4)
(2, 'Louis', 'Curepipe', 'Salsa', 2)
(3, 'Laetitia', 'Vacoas', 'Kizomba', 6)